* {
    box-sizing: border-box;
}
body {
	background: #00bcd4;
    position: relative;
}
.messages {
    overflow: auto;
}
.message-section {
    background: #00838f;
    border-radius: 7px;
    color: #FFF;
    margin: 0 auto 20px auto;
    max-width: 500px;
    padding: 10px;
}
.name {
    margin-right: 15px;
}
.message-box-wrapper {
    bottom: 0;
    position: absolute;
    width: 100%;
}
.textbox, .message-box {
    border: none;
    border-radius: 7px;
    display: block;
    padding: 10px;
    margin: 0 auto 20px auto;
    width: 500px;
}
.message-box {
    height: 100px;
    resize: none;
}
.message-box:focus {
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,128,1);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,128,1);
    box-shadow: 0px 0px 5px 0px rgba(0,0,128,1);
}
.btn {
    background: #80deea;
    border: 2px solid #ccc;
    border-radius: 7px;
    color: rgba(65,65,65, 1);
    display: block;
    font-size: 1rem;
    font-weight: 700;
    margin: 0 auto;
    padding: 10px 0;
    transition: all 0.3s ease;
    width: 150px;
}
.btn:hover, .btn:focus, .btn:active {
    background: #00838f;
    color: #FFF;
}
.hide508 {
    position: absolute;
    left: -99999px;
}
